<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Request Header Parser</title>
</head>
<body>
    <h1>Request Header Parser</h1>
    <hr>
    <h2>Example Request:</h2>
    <p><a href="/api/whoami">[base url]/api/whoami</a></p>
    <h2>Example Output:</h2>
    <p><code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code></p>
</body>
</html>